[package]
name = "coco"
version = "0.1.0"
authors = ["Phodal Huang <h@phodal.com>"]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/phodal/coco"
documentation = "https://github.com/phodal/coco"
homepage = "https://github.com/phodal/coco"
description = """
Coco 是一个研发效能分析工具，如开发速率（根据架构复杂度及行数变更）、团队演进、历史分析、根因分析等。生成可视化报告，并对应的改进建议。 a effective DevOps analysis and auto-suggest tools.
"""
categories = ["text-processing", "command-line-interface", "development-tools"]
exclude = [
  ".coco/*",
  "benchmark/*",
  "fixtures/*",
  "targets/*",
  ".github/*",
  ".gitattributes",
  ".adr.json",
]

[dependencies]
# time format
chrono = "0.4"

git2 = "0.13"

# for cli usage
clap = "2.33.3"

# for git clone
tempdir = "0.3"

# parse for url
url = "2.2.0"

# cloc
tokei = "12.1.2"

plotters = "^0.3.0" # char

# serializing and deserializing
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8" # for config parse

[workspace]
members = [
  'framework'
]
