/* tooltip */
.tooltip {
  font-size: 14px;
  position: absolute;
  text-align: left;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
  line-height: 1.3;
  padding: 5px;
  width: auto;
}
